.logout-icon {
  font-size: 35px;
  width: 150px;
  height: auto;
  cursor: pointer;
}
.user-login {
  font-size: 15px;
  padding-right: 30px;
}

.logo {
  width: 50px;
  background: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 25px;
}
