<div class="row justify-content-center login-container">
  <div class="col-sm-4 shadow login-content">
    <img src="./assets/images/zus.jpg" class="logo">
    <h3>Login</h3>
    <mat-form-field class="d-block">
      <input matInput placeholder="Email" required [(ngModel)]="credentials.email">
      <mat-error>Email jest wymagany</mat-error>
    </mat-form-field>
    <mat-form-field class="d-block">
      <input matInput placeholder="Password" type="password" required [(ngModel)]="credentials.password">
      <mat-error>Hasło jest wymagane</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">LOG IN</button>
    <p>Jeśli nie masz konta- zarejestruj się!</p>
    <button routerLink="/registration" mat-raised-button color="accent" (click)="register()">Rejestracja</button>
  </div>
</div>
<app-spinner></app-spinner>