<div class="container">
  <div class="col-sm-8 filter">
    <mat-form-field>
      <mat-select formControlName="company_id" placeholder="Filtruj po: Nazwa Firmy">
        <mat-option *ngFor="let x of (companiesData$ | async)" [value]="x.company_id">{{ x.company_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h2>Wygenerowane zestawienia:</h2>
  <table class="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="LP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>L.p. </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.id }}</td>
    </ng-container>

    <ng-container matColumnDef="billing_month">
      <th mat-header-cell *matHeaderCellDef>Miesiąc</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_month }}</td>
    </ng-container>
    <ng-container matColumnDef="billing_date">
      <th mat-header-cell *matHeaderCellDef>Data wygenerowania</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_date }}</td>
    </ng-container>
    <ng-container matColumnDef="billing_zus">
      <th mat-header-cell *matHeaderCellDef>ZUS</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_zus + ' zł' }}</td>
    </ng-container>
    <ng-container matColumnDef="billing_vat">
      <th mat-header-cell *matHeaderCellDef>Vat</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_vat + ' zł' }}</td>
    </ng-container>
    <ng-container matColumnDef="billing_us">
      <th mat-header-cell *matHeaderCellDef>Dochodowy</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_us + ' zł' }}</td>
    </ng-container>
    <ng-container matColumnDef="billing_worker">
      <th mat-header-cell *matHeaderCellDef>Pracownik</th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyItem.billing_worker + ' zł' }}</td>
    </ng-container>
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Nazwa Firmy </th>
      <td mat-cell *matCellDef="let item" (click)="showDetails(item)">{{ item.companyData.company_name }}</td>
    </ng-container>
    <ng-container matColumnDef="contex_menu">
      <th mat-header-cell *matHeaderCellDef>Szybka akcja </th>
      <td mat-cell *matCellDef="let item">
        <mat-icon (click)="removeItem(item.companyItem.key)" id="remove-btn" label="Usuń">delete_forever</mat-icon>
        <mat-icon (click)="showDetails(item)" id="edit-btn" label="Edytuj">settings</mat-icon>
        <mat-icon (click)="printItem(item.companyItem.key)" id="print-btn" label="Drukuj">print</mat-icon>
        <mat-icon
          (click)="sendMail(item.companyData.company_email, item.companyItem.billing_month, item.companyItem.billing_month)"
          id="send-btn" label="Wyślij na maila">mail</mat-icon>

      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let itemrow; columns: displayedColumns"></tr>
  </table>
  <!-- <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 25, 100]">
  </mat-paginator> -->