<div class="container">
  <div class="row">
    <div class="col-9">
      <h3>Edycja wpisu <strong>{{ item?.key }}</strong></h3>
      <app-new-data-company-form #newDataCompanyForm> </app-new-data-company-form>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-end">
      <mat-icon (click)="removeItem()" id="remove-btn">delete_forever</mat-icon>
      <button mat-raised-button (click)="formClose()">Zamknij</button>
      <button mat-raised-button (click)="formReset()">RESET</button>
      <button mat-raised-button color="primary" (click)="saveEditItem()"
        [disabled]="newDataCompanyForm.form.invalid">ZAPISZ</button>
    </div>
  </div>
</div>