/* Importing Bootstrap SCSS file. */
// @import '/node_modules/bootstrap/scss/bootstrap.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background: #0fdb00;
}

.toast-error {
  background: #ff0900;
}

.mat-form-field {
  width: 100% !important;
}

.mat-dialog-content {
  overflow-x: hidden !important;
}

body {
  background: #e9ebee;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #e9ebee;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
