<form>
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput placeholder="Nazwa Firmy">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Data wpisu">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Miesiąc rozliczenia">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Podatek - Urząd Skarbowy">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Podatek - VAT">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Podatek - Pracownik">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Składka ZUS">
      </mat-form-field>
    </div>
  </div>
</form>